/*
    Pour integrer du CSS a une page HTML, 3 solution s'offre a nous.
        1. integrer l'atribut "style" a la balise choisi
        2. ajouter la balis style dans le head
        3.creer un fichier CSS est le lier avec une balise link
    Pour ecrire du CSS
    On va commencer par ecrire un "selecteur" qui permettra d'indiquer ce que l'on souhaite cibler 
    puis entre acolade les regle a apliquer sur notre cible

    Une regle s'ecrit de la facon suivante :
        "nom de la regle" : "valeur a lui donner";
    Par exemple:
        background-color: red;

    Par defaut le code est lu de haut en bas 
    Donc si une regle est impose par du code puis contredite plus bas c'est la derniere qui s'aplique 
    une regle avec "!important" sera toujour prioritaire 
        (plus de detail sur les priorités en bas du cours)
*/

header {
    font-style: italic;
    background-color: chartreuse !important;
    font-size: 20px;
}

/* ----------- Enfant direct ou indirect ---------- */

main p {
    /* Selectionne tous les p se trouvent dans un main peu importe si d'autres balise se trouvent entre eux. */
    background-color: lightsalmon;
}

main>p {
    /* Selectionne tous la p se trouvant directement dans un main 
    excluant tous ceux se trouvant dans une autre balise  */
    background-color: olive;
}

/*  -------------Frere direct ou indirect------------- */

p~article {
    /* Selectione tous les article suivant la balise p (au meme niveaux ) */
    color: darkblue;
}

p+article {
    /* Selectionne tout article se trouvant juste aprés un p */
    color: darkgoldenrod;
}

/*  -----------Pseudo classe------------  */
/* Les pseudo classe sont des selecteur s'ecrivant ainsi ":nom" */

li:hover {
    /*  Au survol de l'element precedent la pseudo classe (ici au survol des li ) */
    background-color: deeppink;
}

li:nth-of-type(3) {
    /*  Selection le 3ème "li" d'une liste  
        Existe ossi en partant de la fin ";nth-last-of-type()"*/
    background-color: tomato;
}

li:nth-child(2) {
    /* Selectionne le 2ème enfant si c'est un "li"
        existe ossi en partant de la fin ":nth-last-child()" */
    background-color: darkorange;
}

article:nth-child(2) {
    font-size: 25px;
}

h1 a {
    color: antiquewhite;
}

h1 a:active {
    /* Lorsque que le lien est activé (au clique ) */
    color: cyan;
}

h1 a:visited {
    /* Lorsque le lien a dejat eter visiter */
    color: red;
}

p span:not(:nth-of-type(2)) {
    /* ":not()" permet d'exclur un element 
        ici on selectionne tous le span dans un p exepte le second  */
    color: magenta;
}

/* ------------ Les pseudo elements ------------- */
/* Les pseudo ellement s'ecrivent ainsi "::nom" */

article p::first-letter {
    /* Selectionne la premiere lettres des p dans mes article */
    font-size: 50px;
}

main>p::first-line {
    /* Selectionne la premiere ligne des p directement enfant de main */
    font-weight: bold;
}

h1::before {
    /* Ajoute un element avant le contenue du h1 (la regle "content" est obligatoire)  */
    content: "super titre";
}

h1::after {
    /* Ajoute un element aprés le contenue du h1 (la regle "content" est obligatoire)  */
    content: "<- C'est faux";
}

/* --------- Classes, ID et attributs ----------- */

#MenuImportant {
    /*  Pour selectionner un element par son id , je fais preceder le nom de l'id par "#" */
    font-size: 42px;
    font-weight: bold;
    color: red;
}

.peuImportant {
    /* Pour selectionner des element par leur classe , je fais preceder le nom de la classe par un "." */
    font-size: 8px;
    color: gainsboro;
}

a[target] {
    /* Avec les "[]" je peux selectionner des element via leurs attributs 
        Ici je selectionne tout "a" ayant un attributs "target" */
    font-family: cursive;
}

a[href*="amazon"] {
    /* Selectionne tout "a" dont le href contitent le mot "amazon" */
    font-family: monospace;
}

a[href$=".fr"] {
    /* Selectionne tout "a" dont le href termine par ".fr" */
    background-color: aquamarine;
}

a[href^="https"]::before {
    /* Selectionne tout "a" dont le href commence par "https" */
    content: "√";
}

/* ---------- Autres selecteur ----------- */

*:not(h1) {
    /* "*" signifie toute les balises
        Ici je selectionnz tout sauf le h1 */
    font-size: 18px;
}

article p,
li:nth-child(2),
span:nth-of-type(2) {
    /* La virgule est utiliser pour selectionner plusieur element en meme temp , meme s'il n'on rien avoir entre eux */
    font-family: cursive;
}

/* On parlait du system de priorité en debut de cours 
    Il existe un autre systeme qii rend prioritaire les element selectionner avec plus de precision
    
    Ce systeme est representer par 3 chiffre : "0,0,0"
    
    Le premier etant plus important que les suivant :
    1,0,0 aura la priorite sur 0,15,9
    0,1,0 aura la prioriter sur 0,0,8
    0,7,0 aura la prioriter sur 0,5,0
    
    Chaque selecteur different fera augmenter un chiffre specifique :
        une balise (div, header ...) fera evoluer le dernier chiffre 
            main > p vaudra 0,0,2
        une classe fera evoluer le second chiffre 
            div.classCool vaudra 0,1,1
        un id fera evoluer le premier chiffre 
            #superID vaudra 1,0,0
*/