h2 span{
        border: 2px solid black;
        padding: 5px;
        border-radius: 5px;
    }
.presentation{
    display: flex;
    justify-content: space-around;
    img{
        width: 250px;
        height: 250px;
    }
    .ingredients{
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
    }
}
.etapes{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    div{

    }
}
